<div class="modal">
	<div class="modal-content">
		<h4>Add Star</h4>
		<p>Size</p>
		<input type="number" id="size" class="col s4" placeholder="Size" value="90">
		<p>Nb of Branch
		<input type="number" id="nb_branch" class="col s4" placeholder="Branch" value="5">
		<p>Nb of Branch Rotation
		<input type="number" id="nb_branch_rot" class="col s4" placeholder="Branch" value="2">
	</div>
	<div class="modal-footer" id="modal_btn_star">
	  <a href="#!" attr-action='agree' id="modal_agree_btn" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  <a href="#!" attr-action='cancel' class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>