<div class="modal">
	<div class="modal-content">
		<h4>Add Line</h4>
		<p>First Point Position</p>
		<div class="row">
			<input type="number" id="pos_x_1" class="col s4" placeholder="X" value="0">
			<input type="number" id="pos_y_1" class="col s4" placeholder="Y" value="0">
			<input type="number" id="pos_z_1" class="col s4" placeholder="Z" value="0">
		</div>
		<p>Second Point Position</p>
		<div class="row">
			<input type="number" id="pos_x_2" class="col s4" placeholder="X" value="0">
			<input type="number" id="pos_y_2" class="col s4" placeholder="Y" value="0">
			<input type="number" id="pos_z_2" class="col s4" placeholder="Z" value="0">
		</div>
		<p>Third Point Position</p>
		<div class="row">
			<input type="number" id="pos_x_3" class="col s4" placeholder="X" value="0">
			<input type="number" id="pos_y_3" class="col s4" placeholder="Y" value="0">
			<input type="number" id="pos_z_3" class="col s4" placeholder="Z" value="0">
		</div>
	</div>
	<div class="modal-footer" id="modal_btn_triangle">
	  <a href="#!" attr-action='agree' id="modal_agree_btn" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  <a href="#!" attr-action='cancel' class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>