<div class="modal">
	<div class="modal-content">
		<h4>Add Polyogon</h4>
		<p>Diameter</p>
		<input type="number" id="diameter" class="col s4" placeholder="Size" value="0">
		<p>Nb of Vetices
		<input type="number" id="nb_vetices" class="col s4" placeholder="Vetices" value="0">
	</div>
	<div class="modal-footer" id="modal_btn_polygon">
	  <a href="#!" attr-action='agree' id="modal_agree_btn" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  <a href="#!" attr-action='cancel' class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>