<div class="modal">
	<div class="modal-content">
	  <h4>Importer une scene</h4>
	  <div class="file-field input-field">
	  		<div class="btn">
	  			<span>Parcourir...</span>
	  			<input id="file_upload" type="file" name="file"/>
	  		</div>
		  	<div class="file-path-wrapper">
		  		<input id="text_upload" type="text" placeholder="Upload fichier scene">
			</div>
		</div>
	</div>
	<div class="modal-footer" id="modal_btn_import_scene">
	  <a href="#!" attr-action='cancel' class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
	  <a href="#!" attr-action='import' class=" modal-action modal-close waves-effect waves-green btn-flat">Importer</a>
	</div>
</div>