<div class="modal">
	<div class="modal-content">
		<h4>Load Obj</h4>
	  	
	  	<div class="file-field input-field">
	  		<div class="btn">
	  			<span>Browse</span>
	  			<input id="obj_file_upload" type="file" name="files[]" data-url="http://127.0.0.1:8888/server/php" single>
	  		</div>
		  	<div class="file-path-wrapper">
		  		<input id="url_obj" type="text" placeholder="Upload OBJ file">
			</div>
		</div>

		<div class="file-field input-field" id="div_mtl" style="visibility: hidden">
	  		<div class="btn">
	  			<span>Browse</span>
	  			<input id="mtl_file_upload" type="file" name="files[]" data-url="http://127.0.0.1:8888/server/php" single>
	  		</div>
		  	<div class="file-path-wrapper">
		  		<input id="url_mtl" type="text" placeholder="Upload MTL file">
			</div>
		</div>

	</div>
	<div class="modal-footer" id="modal_btn_obj">
	  <a href="#!" id="modal_agree_btn" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  <a href="#!" attr-action='cancel' class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>