span
{
    background: transparent;
}

.canvas
{
    height: 450px;
    width: 100%;
    cursor: move;
    border: 1px solid #ffffff;
}

.nav-wrapper {
    background-color: #252624 !important;
}

* {
    color: #ffffff;
    background: #252624;
}

.dropdown-content li a:hover, .dropdown-content li span {

    background: rgba(183,190,255,0);

}

.tabs .tab a {

    font-size: 9px;

}

.tabs .tab a:hover, .tabs .tab a.active {

    background-color: rgba(0,0,0,0.25);
}

.hide
{
	display: none !important;
}

.dropdown-content {
    overflow: visible !important;
}

#SceneHistory ul li {
    background : #252624;
}

#SceneHistory ul li:hover {
    cursor: default;
    color: #6d8eff;
}

#SceneHistory ul li:last-child {
    cursor: default;
    color: #7588f8;
}

.title
{
    padding: 10px;
}

.title>p
{
    margin-top: -30px;
    margin-left: 35px;
}

.content ul
{
    padding: 10px;
    padding-right: 20px;
}

.content ul>li
{
    cursor: pointer;
    padding: 15px !important;
    line-height: initial !important;
}

.content ul>li>ul
{
    border: 1px solid #6d8eff;
    margin-top: 15px;
}

.pull-right
{
    float: right;
}