.side-nav {
    background: #313230;
}


.container
{
    box-shadow: 0 0 3px #7c7c7c;
    margin: 0.25em;
    width: 100%;
}

.tabs {

    background: #252624;
}

.tabs .tab a:hover {
    color: #b7beff;
}

.tabs .tab a {
    color: #ffffff;
    font-size: 10px;
}

.tabs .tab a.active{
    color: #b7beff;
}

#backgroundColorPicker {
    width: 25%;
    margin: 2em;
}

#SceneInspector input{

    color: #b7beff;

}

label {
    color: #fbfff5;
}

#backgroundColorPicker{

    background-color: #131b23;

}

#objectColorPicker{

    background-color: #131b23;
}

#objectEmissivePicker{

    background-color: #131b23;
}

#objectSpecularPicker{

    background-color: #131b23;
}


#SceneInspector section{

    margin-bottom : 1em;

}

h6 {
    color: rgba(109, 142, 255, 0.75);
    margin-top : 0.5em;
    margin-bottom : 0.5em;
    margin-left :0.5em;
}


#SceneInspector .input-field {
    color: #b7beff;
    margin-top : 0;
    margin-bottom : 0;
}

#SceneInspector p {

    margin-bottom : 1em;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}